.root {
	background-color: #ffffff;
	opacity: 1;
	background-image: linear-gradient(#fafafa 2px, transparent 2px),
		linear-gradient(90deg, #fafafa 2px, transparent 2px),
		linear-gradient(#fafafa 1px, transparent 1px),
		linear-gradient(90deg, #fafafa 1px, #ffffff 1px);
	background-size:
		50px 50px,
		50px 50px,
		10px 10px,
		10px 10px;
	background-position:
		-2px -2px,
		-2px -2px,
		-1px -1px,
		-1px -1px;
}
