@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter-Regular.woff2") format("woff2"),
			url("/fonts/Inter-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Inter";
		src: url("/fonts/Inter-Bold.woff2") format("woff2"),
			url("/fonts/Inter-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
}

html {
	--bg-color: #f1f5f9;
	--bg-accent: #cbd1d8;

	background-color: var(--bg-color);
	opacity: 1;
	background-image: radial-gradient(var(--bg-accent) 1px, transparent 1px),
		radial-gradient(var(--bg-accent) 1px, var(--bg-color) 1px);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;

	font-size: 14px;
}

html[data-theme="dark"] {
	--bg-color: #1a202c;
	--bg-accent: #2d3748;
}
