@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "DM Sans";
		src: url("/fonts/DMSans-Regular.woff2") format("woff2"),
			url("/fonts/DMSans-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "DM Sans";
		src: url("/fonts/DMSans-Bold.woff2") format("woff2"),
			url("/fonts/DMSans-Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
}
